@media (min-width:87.5em) {

    .hero-section,
    .step-header {

        display: flex;
        justify-content: center;
    }

    .hero {

        width: 100%;
    }
}

@media (max-width:75em) {
    html {
        font-size: 47%;
    }

    .meals {
        padding-top: 0;
    }


}

@media (max-width:59em) {
    .container {
        width: 90%;
    }

    .grid {
        row-gap: 4.8rem;
        column-gap: 3.2rem;
    }

    .meals-body.grid {
        justify-content: center;
        column-gap: 1.8rem;
    }

    .customers {
        gap: 0px;
    }


}

@media (max-width:46em) {

    .hero {
        grid-template-columns: 1fr;
        width: 90%;
        text-align: center;
        row-gap: 4.8rem;

    }

    .customers {
        justify-content: center;
        margin-top: 3.6rem;
    }

    .hero-image {
        width: 80%;
        justify-self: center;
    }
}

@media (max-width:38em) {

    .meals-diet {
        grid-column: 1/ -1;
    }

    .grid-3,
    .gallery {
        justify-items: center;
        grid-template-columns: repeat(2, 1fr);
        gap: 6.4rem;
    }

    .gallery {
        gap: 1.8rem;
        justify-self: stretch;
        align-self: stretch;
    }

    .img1 {
        grid-row: 1;
    }

    .img2 {
        grid-row: 6;
    }

    .img3 {
        grid-row: 5;
    }




    .cta {
        margin-bottom: 8rem;
    }

    .footer {
        padding-top: 8rem;
    }

    .pricing-footer {
        padding-top: 8.8rem;
    }

    .grid-2 {
        grid-template-columns: 1fr;
    }

    .grid-6 {
        grid-template-columns: repeat(6, 1fr);
        gap: 2.4rem;
    }
}

@media (max-width:33em) {

    .grid-2,
    .grid-3 {
        grid-template-columns: 1fr;
        row-gap: 3.2rem;
    }

    .grid-3 {
        grid-template-columns: 1fr;
    }

    .btn {
        padding: 1.6rem;
    }

    .footer-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .meals-recipe.first {
        justify-self: center;
    }

    .meals-header {
        margin-bottom: 8rem;
    }

    .pricing-body,
    .features ,
    .costumers{
        flex-wrap: wrap;
    }

    .fi-img {
        height: 2.3em;
    }

    .feature-in-img {
        justify-content: space-evenly;
    }

    .socials,.resources-footer {
        grid-column: 2/3s;
        grid-row: 2/3;
    }

    .contact-footer {
        
    }

    .pb-lg {
        padding-bottom: 4.8rem !important;
    }

    .pt-lg {
        padding-top: 4.8rem !important;
    }

    .hero {
        row-gap: 3.2rem;
    }

    .steps-header {
        padding: 4.8rem 0 3.2rem 0;
    }
    .cta{
        grid-template-columns: 1fr;
    }
    .cta-img{
        padding-bottom: 90%;
        grid-row: 1;

    }
    form{
        grid-template-columns: 1fr;
    }

   
}